EJERCICIO 1.
Ayer creamos un par de gráficas para USA y España, donde visualizamos el número de ataques en cada país a lo largo de los años y el tipo de los ataques. Hoy tendréis que hacer dos gráficas con subplots:

En la primera debéis mostrar los tipos ataques en USA y España, cada subplot corresponderá a un país. Debéis:

 - Poner nombre a los ejes de cada uno de los subplots
 - Poner un títulos a cada uno de los subplots
 - Poner el color de las líneas en negro.
 - Establecer el tamaño de la gráfica a 15 x 5
 - Ponerle marcadores a las gráficas
 - No incluir leyenda
 - En la segunda debéis mostrar los ataques por año para cada uno de los países.
 - De nuevo tendréis que ponerle nombre a los ejes y título a cada gráfica.
 - En este caso el subplot deberá tener dos filas y una columna
 - No incluir leyenda
- Cambiar el color de las barras

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("attacks.csv")
df.head()

,case-number,unnamed:-0,year,type,country,area,location,activity,name,sex-,age,time,species-,href,case-number.2
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25
1,2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18
2,2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09
3,2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08
4,2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04

In [23]:
usa = df[df['country']== 'USA']["type"].value_counts()
spain = df[df['country']== 'SPAIN']["type"].value_counts() 

usa

Unprovoked      1697
Provoked         205
Invalid          191
Boating           52
Sea Disaster      32
Boat              23
Name: type, dtype: int64

In [24]:
spain

Unprovoked    26
Invalid       10
Provoked       5
Boating        1
Name: type, dtype: int64

In [18]:
spain.index

Index(['Unprovoked', 'Invalid', 'Provoked', 'Boating'], dtype='object')

In [20]:
spain.values

array([26, 10,  5,  1])

In [19]:
usa.index

Index(['Unprovoked', 'Provoked', 'Invalid', 'Boating', 'Sea Disaster', 'Boat'], dtype='object')

In [12]:
usa.values

array([1697,  205,  191,   52,   32,   23])

In [25]:
usa2 = df[df['country']== 'USA']["year"].value_counts()
spain2 = df[df['country']== 'SPAIN']["year"].value_counts()

In [26]:
usa2

2015.0    73
2007.0    66
2014.0    65
2017.0    65
2016.0    64
          ..
1870.0     1
1872.0     1
1873.0     1
1882.0     1
1803.0     1
Name: year, Length: 174, dtype: int64

In [27]:
fig, ax = plt.subplots((1,2), figsize = (15,5))

x = usa.index
y = usa.values

x1 = spain.index
y1 = spain.values

ax[0].plot(x,y, c = "b", marker = "o")
ax[0].set_title(label = "Attacks in USA by Type")
ax[0].set_xlabel("Attack Types")
ax[0].set_ylabel("Attacks' Number")
ax[0].grid()



ax[1].plot(x1,y1, c = "b", marker = "*")
ax[1].set_title(label = "Attacks in Spain by Type")
ax[1].set_alabel("Attack Types")
ax[1].set_blabel("Attacks' Number")
ax[1].grid()

plt.show()

ValueError: Number of rows must be a positive integer, not (1, 2)