In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from scipy.stats import skew
import scipy.stats as st

In [4]:
# df = pd.read_csv('Crime_data_2010_2017.csv', encoding='ISO-8859-1')

In [7]:
# def año (date=df['Date Occurred']):
#     return date.split('/')[2]

In [10]:
#df['Year'] = df['Date Occurred'].apply(año)

In [11]:
#df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Year
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)",2013
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)",2010
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)",2013
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)",2010
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)",2014

In [21]:
#pd.to_numeric(df.Year)

0          2013
1          2010
2          2013
3          2010
4          2014
           ...
1584311    2017
1584312    2017
1584313    2017
1584314    2017
1584315    2017
Name: Year, Length: 1584316, dtype: int64

In [25]:
#df2 = df[df['Year']=='2017']

In [26]:
#df2.to_csv('Crime_Data_2017.csv')

In [53]:
df = pd.read_csv('Crime_Data_2017.csv')

In [51]:
# df.dropna(how='any', inplace=True)

In [52]:
# df.to_csv('Crime_Data_2017.csv')

In [45]:
df.drop([100000,151584],axis=0)

,Unnamed: 0,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,...,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Address,Cross Street,Location,Year
0,659052,171013348,07/21/2017,07/20/2017,2000,10,West Valley,1047,330,BURGLARY FROM VEHICLE,...,NaN,NaN,NaN,NaN,IC,Invest Cont,00,NaN,NaN,2017
1,736175,171013326,07/21/2017,07/21/2017,1000,10,West Valley,1008,330,BURGLARY FROM VEHICLE,...,NaN,NaN,NaN,NaN,IC,Invest Cont,00,NaN,NaN,2017
2,1314361,170209449,04/22/2017,04/21/2017,1930,2,Rampart,201,510,VEHICLE - STOLEN,...,101.0,STREET,NaN,NaN,IC,Invest Cont,ALEXANDRIA,ROMAINE,"(34.0886, -118.2979)",2017
3,1388899,170206243,02/14/2017,02/11/2017,1700,2,Rampart,275,510,VEHICLE - STOLEN,...,101.0,STREET,NaN,NaN,IC,Invest Cont,OLYMPIC,WESTLAKE,"(34.0512, -118.2787)",2017
4,1389475,170311599,04/25/2017,04/25/2017,745,3,Southwest,325,510,VEHICLE - STOLEN,...,101.0,STREET,NaN,NaN,IC,Invest Cont,VERMONT,ADAMS,"(34.0328, -118.2915)",2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151580,1584310,172116479,09/07/2017,09/07/2017,1030,21,Topanga,2189,310,BURGLARY,...,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,20200 DELITA DR,NaN,"(34.1641, -118.5742)",2017
151581,1584311,172116482,09/07/2017,09/07/2017,1005,21,Topanga,2141,440,THEFT PLAIN - PETTY ($950 & UNDER),...,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,23800 CALVERT ST,NaN,"(34.1883, -118.6536)",2017
151582,1584312,172116489,09/07/2017,09/07/2017,1200,21,Topanga,2156,330,BURGLARY FROM VEHICLE,...,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,6600 TOPANGA CANYON BL,NaN,"(34.1905, -118.6059)",2017
151583,1584313,172116491,08/30/2017,07/15/2017,1,21,Topanga,2147,649,DOCUMENT FORGERY / STOLEN FELONY,...,203.0,OTHER BUSINESS,NaN,NaN,IC,Invest Cont,20900 SHERMAN WY,NaN,"(34.201, -118.5885)",2017
151585,1584315,172116510,09/08/2017,07/12/2017,2230,21,Topanga,2105,236,INTIMATE PARTNER - AGGRAVATED ASSAULT,...,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,8600 INTERNATIONAL AV,NaN,"(34.2258, -118.5994)",2017

In [46]:
df.head()

,Unnamed: 0,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,...,Premise Code,Premise Description,Weapon Used Code,Weapon Description,Status Code,Status Description,Address,Cross Street,Location,Year
0,659052,171013348,07/21/2017,07/20/2017,2000,10,West Valley,1047,330,BURGLARY FROM VEHICLE,...,NaN,NaN,NaN,NaN,IC,Invest Cont,00,NaN,NaN,2017
1,736175,171013326,07/21/2017,07/21/2017,1000,10,West Valley,1008,330,BURGLARY FROM VEHICLE,...,NaN,NaN,NaN,NaN,IC,Invest Cont,00,NaN,NaN,2017
2,1314361,170209449,04/22/2017,04/21/2017,1930,2,Rampart,201,510,VEHICLE - STOLEN,...,101.0,STREET,NaN,NaN,IC,Invest Cont,ALEXANDRIA,ROMAINE,"(34.0886, -118.2979)",2017
3,1388899,170206243,02/14/2017,02/11/2017,1700,2,Rampart,275,510,VEHICLE - STOLEN,...,101.0,STREET,NaN,NaN,IC,Invest Cont,OLYMPIC,WESTLAKE,"(34.0512, -118.2787)",2017
4,1389475,170311599,04/25/2017,04/25/2017,745,3,Southwest,325,510,VEHICLE - STOLEN,...,101.0,STREET,NaN,NaN,IC,Invest Cont,VERMONT,ADAMS,"(34.0328, -118.2915)",2017

In [29]:
df.shape

(151586, 28)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include=object)

In [ ]:
df.isnull().sum()

In [ ]:
df[df.duplicated()].count()

In [30]:
df.dropna(how='all',inplace=True)

In [ ]:
df.isnull().sum()

In [31]:
df.drop(columns=['Crime Code 1', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4'], inplace=True)

In [32]:
df.to_csv('Crime_Data_2017.csv')

Moda, mediana, media, mínimo y máximo

In [ ]:
moda = df['Crime Code Description'].mode()
media = df['Victim Age'].mean()
mediana = df['Victim Age'].median()
minimo = df['Victim Age'].min()
maximo = df['Victim Age'].max()
print(moda, '----', media, '----', mediana, '----', minimo, '----', maximo)

Gráficos

In [ ]:
plt.figure(figsize=(15,8))
sns.histplot(data = df, x = "Victim Age", color = "grey")
plt.axvline(media, color='red')
plt.axvline(mediana, color='orange');