In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from scipy.stats import skew
import scipy.stats as st

In [4]:
# df = pd.read_csv('Crime_data_2010_2017.csv', encoding='ISO-8859-1')

In [7]:
# def año (date=df['Date Occurred']):
#     return date.split('/')[2]

In [10]:
#df['Year'] = df['Date Occurred'].apply(año)

In [11]:
#df.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Year
0,1208575,03/14/2013,03/11/2013,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)",2013
1,102005556,01/25/2010,01/22/2010,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)",2010
2,418,03/19/2013,03/18/2013,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)",2013
3,101822289,11/11/2010,11/10/2010,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)",2010
4,42104479,01/11/2014,01/04/2014,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)",2014

In [21]:
#pd.to_numeric(df.Year)

0          2013
1          2010
2          2013
3          2010
4          2014
           ...
1584311    2017
1584312    2017
1584313    2017
1584314    2017
1584315    2017
Name: Year, Length: 1584316, dtype: int64

In [25]:
#df2 = df[df['Year']=='2017']

In [26]:
#df2.to_csv('Crime_Data_2017.csv')

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.describe(include=object)

In [ ]:
df.isnull().sum()

In [ ]:
df[df.duplicated()].count()

In [ ]:
df.dropna(how='all',inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(columns=['Crime Code 1', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4'], inplace=True)

Moda, mediana, media, mínimo y máximo

In [ ]:
moda = df['Crime Code Description'].mode()
media = df['Victim Age'].mean()
mediana = df['Victim Age'].median()
minimo = df['Victim Age'].min()
maximo = df['Victim Age'].max()
print(moda, '----', media, '----', mediana, '----', minimo, '----', maximo)

Gráficos

In [ ]:
plt.figure(figsize=(15,8))
sns.histplot(data = df, x = "Victim Age", color = "grey")
plt.axvline(media, color='red')
plt.axvline(mediana, color='orange');