In [4]:
import pandas as pd


1. 쮺u치ntos ataques hubo por pa칤s? Devuelve un DataFrame.
游늷 NOTA Ordena los resultados de mayor a menor. Esto todav칤a no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aqu칤 ten칠is una explicaci칩n de c칩mo hacerlo.

In [6]:
df = pd.read_csv('../DATA/Ejercicio_Pandas_5.csv')

In [7]:
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.25,NaN,NaN,NaN,siglo_XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.03.a,NaN,NaN,NaN,siglo_XXI,Y,FATAL,03-Jun-2018
2,2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.26.b,NaN,NaN,NaN,siglo_XXI,N,Lower left leg bitten,26-May-2018
3,3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.13.a,NaN,NaN,NaN,siglo_XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

2. 쮺u치ntos ataques ha habido por a침o? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [8]:
df_ataques = (df.groupby('Year'))['Year'].count()
df_ataques

Year
0.0       125
5.0         1
77.0        1
500.0       1
1543.0      1
         ...
2014.0     35
2015.0     68
2016.0     37
2017.0     30
2018.0     17
Name: Year, Length: 147, dtype: int64

3. 쮺u치ntos ataques hubo por a침o y sexo? Devolved un DataFrame solo del a침o 2000 en adelante.

In [9]:
df_a침o = df.groupby(['Year','Sex '])['Case Number'].count()
df_a침o = df_a침o.reset_index()
df_a침o.head()

    Year Sex   Case Number
0    0.0    F           13
1    0.0    M          104
2    5.0    M            1
3   77.0    M            1
4  500.0    M            1

In [ ]:
df_2000 = df_a침o[df_a침o['Year']>2000] #맗ara los a침os de 2000 en adelante
df_2000 = df_2000.reset_index()
df_2000

    index    Year Sex   Case Number
0     159  2001.0    F            3
1     160  2001.0    M           26
2     161  2002.0    F            6
3     162  2002.0    M           47
4     163  2003.0    F            6
5     164  2003.0    M           38
6     165  2004.0    F            4
7     166  2004.0    M           35
8     167  2004.0  lli            1
9     168  2005.0    F            7
10    169  2005.0    M           38
11    170  2006.0    F            8
12    171  2006.0    M           32
13    172  2007.0    F           19
14    173  2007.0    M           38
15    174  2008.0    F            5
16    175  2008.0    M           35
17    176  2009.0    F            5
18    177  2009.0    M           37
19    178  2010.0    F           12
20    179  2010.0    M           25
21    180  2011.0    F            5
22    181  2011.0    M           31
23    182  2012.0    F            9
24    183  2012.0    M           45
25    184  2013.0    F            5
26    185  2013.0    M           43
27    186  2014.0    F            7
28    187  2014.0    M           28
29    188  2015.0    F           12
30    189  2015.0    M           56
31    190  2016.0    F            7
32    191  2016.0    M           30
33    192  2017.0    F            9
34    193  2017.0    M           21
35    194  2018.0    F            2
36    195  2018.0    M           15

4. Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. 쮺u치ntos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [10]:
df_country = df.groupby('Country').get_group('AUSTRALIA')
df_country.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date
3,3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
6,6,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.04.25.a,NaN,NaN,NaN,siglo_XXI,N,"No injury, knocked off board by shark",25-Apr-2018
11,11,2018.03.14,2018.0,Unprovoked,AUSTRALIA,Western Australia,Waterman's Bay,Wading,Luke Guy & Finn Bald,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.03.14,NaN,NaN,NaN,siglo_XXI,N,Minor injuries to legs,14-Mar-2018
12,12,2018.03.09.b,2018.0,Unprovoked,AUSTRALIA,Victoria,Lorne,Swimming,Rob Crossland,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.03.09.b,NaN,NaN,NaN,siglo_XXI,N,"No injury, said to have been charged by sharks...",9-Mar-2018
13,13,2018.03.09.a,2018.0,Unprovoked,AUSTRALIA,Victoria,Winkipop,Surfing,Lachie Brown,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.03.09.a,NaN,NaN,NaN,siglo_XXI,N,"Minor injury, ankle grazed",9-Mar-2018

In [14]:
fatal_australia = df_country.groupby('Fatal (Y/N)').get_group('Sex')

KeyError: 'Sex'

In [ ]:
countries = pd.DataFrame(df_country)
countries.head()

,Unnamed: 0,Case Number,Year,Type,Area,Location,Activity,Name,Sex,Age,...,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date
Country,,,,,,,,,,,,,,,,,,,,,
AMERICAN SAMOA,2,2,2,2,2,2,2,2,2,2,...,2,0,2,0,0,0,2,2,2,2
ARGENTINA,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,0,0,1,1,1,1
ASIA?,1,1,1,1,0,0,1,1,1,0,...,1,1,1,1,0,0,0,1,1,1
AUSTRALIA,343,343,343,343,338,335,338,343,342,325,...,343,19,343,19,0,0,324,326,342,343
BAHAMAS,29,29,29,29,29,28,28,29,29,26,...,29,3,29,3,0,0,26,28,29,29

In [ ]:
c = countries.loc[['USA','SOUTH AFRICA','AUSTRALIA'],:]
c

,Unnamed: 0,Case Number,Year,Type,Area,Location,Activity,Name,Sex,Age,...,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date
Country,,,,,,,,,,,,,,,,,,,,,
USA,741,741,741,741,740,739,739,741,741,722,...,741,22,741,22,0,0,719,695,741,741
SOUTH AFRICA,234,234,234,234,234,234,234,234,234,226,...,234,8,234,8,0,0,226,224,234,234
AUSTRALIA,343,343,343,343,338,335,338,343,342,325,...,343,19,343,19,0,0,324,326,342,343

In [ ]:
c.groupby('Sex ')['Fatal (Y/N)'].count()

Sex
234    1
342    1
741    1
Name: Fatal (Y/N), dtype: int64

5. Usando el DataFrame creado en el ejercicio anterior. 쮼n qu칠 pa칤s hubo m치s ataques?

6. 쯈u칠 y cu치ntos tipos de ataques hubo por pa칤s?