EJERCICIO 1
Id cargando todos los ficheros en vuestro jupyter.
Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [1]:
import pandas as pd
import numpy as np
import pickle

In [7]:
csv=pd.read_csv("../DATA/quejas.csv",sep=";",encoding="ISO-8859-1")
json=pd.read_json("quejas.json")
excel=pd.read_excel("quejas2.xlsx")
pickle=pd.read_pickle("algas.pickle")

ValueError: Expected object or value

In [8]:
csv.to_pickle('../DATA/quejas.pkl')

EJERCICIO 2
Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
csv
excel
json
pickle

In [9]:
df_clipboard = pd.read_clipboard(sep = "\t")
df_clipboard.head(23)
#NO ME SALE EXACTAMENTE EN EL FORMATO (SHAPE) QUE QUIERO, PENDIENTE DE REVISAR

,Profesora,Alumna,Módulo 1\nEquipo,Módulo 2\nEquipo,Módulo 3\nEquipo,Módulo 1\nPareja 1,Módulo 1\nPareja 2,Módulo 2\nPareja 1,Módulo 2\nPareja 2,Módulo 3\nPareja 1,Módulo 3\nPareja 2
0,NaN,Anais denise anna Bonamy,1,1,NaN,1,2,1,NaN,NaN,NaN
1,NaN,María González Dueñas,1,2,NaN,2,3,3,NaN,NaN,NaN
2,NaN,Natalia Martinez Catalan,1,2,NaN,1,1,4,NaN,NaN,NaN
3,NaN,Yadira Gonzalez Lara,1,1,NaN,3,7,1,NaN,NaN,NaN
4,NaN,Ángela Ariana Rosales Caro,2,3,NaN,5,1,5,NaN,NaN,NaN
5,NaN,Antoanela Mateciuc,2,1,NaN,7,5,6,NaN,NaN,NaN
6,NaN,Chloe Aroca Mendoza,2,3,NaN,2,2,6,NaN,NaN,NaN
7,NaN,Lara Sancho,2,3,NaN,5,3,2,NaN,NaN,NaN
8,NaN,Lucía García-Cernuda Ruiz de Alda,2,1,NaN,6,7,3,NaN,NaN,NaN
9,NaN,Ana Delia Torres,3,1,NaN,6,5,1,NaN,NaN,NaN
10,NaN,Diana Laura Romero Feliciano,3,2,NaN,3,6,2,NaN,NaN,NaN
11,NaN,Paula Collado Saura,3,2,NaN,7,4/2,4,NaN,NaN,NaN
12,NaN,Verónica Bellido San Martín,3,3,NaN,4,6,5,NaN,NaN,NaN

In [15]:
# guardaar el formato en csv

df_clipboard.to_csv("Equiposyparejas.csv")

In [11]:
# guardar en formato de excel

df_clipboard.to_excel("Equiposyparejas.xlsx")

In [13]:
# guardar en formato json

df_clipboard.to_json("Equiposyparejas.json")

In [14]:
# guardar en formato pickle

df_clipboard.to_pickle("Equiposyparejas.pickle")